html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.wrapper{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
}
canvas {
  width: 800px;
  height: 600px;
  margin: 10px auto;
  display: block;
  background: #85c79e;
}